<section class="background-image">
  <div class="container">
    <article id="main-col">
    <h3 class="page-title"><b>OUR STORY</b></h3>
    <p>
      Share Kindness began with the intent to cultivate a culture of encouragement and uplifting, interactive moments with the people in and around our community. With human connection feeling more distant than ever, we wanted to have moments of authentic connection with people in our community. Simple cards and these words of encouragement have been the catalyst to ignite our kindness flame.
      </p>
      <p>
        Share Kindness is a movement that allows you to step out of your comfort zone and take a moment out of your busy schedule to lift another up. It is a way for people to feel appreciated, seen and loved. We would love for you to share your story with others. You can do this by simply making your own card into a word of encouragement. Or, if you feel so inclined, pass the card given to you onto someone you feel may need it like you once did. Regardless of how you share kindness, we want you to feel empowered to do a simple act, that will create an impact!
      </p>
</article>

<!--<aside id="sidebar">
  <div class="dark">
   <h3>What We Do</h3>
   <p>It is our mission to create small moments of encouragement that make a genuine impact on our community. Our vision is to foster an enviornment of continually stepping out of our own comfort zones to make someone else feel comforted, seen, appreciated, loved and accepted.</p>
     </div>
    </aside>-->
  </div>
</section>

<section id="share">
  <div class="container">
    <h1>Join The Community!</h1>
    <form>
      <div>
        <label>Email</label><br>
      <input type="email" placeholder="Share Email Here">
      <button type="share" class="button_1"><%= link_to "Connect", signup_path %></button>
    </form>
  </div>
</section>
